@use "../../../../shared/ui/style/colors.scss" as *;

input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: flex;
  cursor: pointer;

  &:hover {
    transform: scale(90%);
  }
}

.isChecked {
  stroke: $blue-light;
  transition: stroke .3s;
}

.default {
  stroke: $black;
  transition: stroke .6s;
}