@use "../../../shared/ui/style/colors.scss" as *;

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5rem;
  width: 60rem;
  color: $white;
  font-size: 1.6rem;
}

.tab {
  cursor: pointer;
  opacity: .6;
}

.active-tab {
  cursor: default;
  position: relative;
  transition: all .3s;
  opacity: 1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: #6086c1;
    transition: transform .3s;
  }
}