.error-page {
  margin: 20% auto;
  width: 300px;

  &__text {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__link {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(106, 165, 241);
    transition: all .2s;

    &:hover {
      color: rgb(47, 131, 242);
    }
  }
}